:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
}

/* CSS styles for the dashboard page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #05030c34; */
    margin: 0;
     background: var(--background);
    /* color: var(--color); */
}

.container {
    background: #53536c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
}

.nav-buttons button {
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.nav-buttons button:hover {
    background-color: #0056b3;
}

.logout {
    margin-top: 1rem;
    color: #007BFF;
    cursor: pointer;
}

.logout:hover {
    text-decoration: underline;
}
